<% layout('boilerplate') %>
<div class="row panel-heading">
  <ul class="list-unstyled">
    <li><strong>ID:</strong> <%= user.id %></li>
    <li><strong>Name:</strong> <%= user.displayName %></li>
    <li><strong>Email:</strong> <%= user.emailAddress %></li>
    <li><strong>Timestamp:</strong> <%= user.timeStamp %></li>
  </ul>
</div>
<div class="row panel-heading">
  <ul class="list-unstyled">
    <li><div style="word-wrap: break-word"><strong>Access Token:</strong> <%= access_token %></div></li>
    <li><div style="word-wrap: break-word"><strong>Refresh Token:</strong> <%= refresh_token %></div></li>
    <li><strong>Expires In (s):</strong> <%= expires_in %></li>
  </ul>
</div>
<div class="row panel-heading">
  <a href="/accounts">Select Account Data</a>
  <% if (user.accounts) { %>
  <h2>Registered Accounts</h2> 
  <ul class="list-unstyled">
    <% for (var ii = 0; ii < user.accounts.length; ii++) { %>
      <li><strong>Account Name:</strong> <%= user.accounts[ii].accountName %></li>
    <% } %>
  </ul>
  <% } %>
</div>